@model ServicioNegocio.EF.Unidad

@{
    Layout = "~/Views/Shared/_LayoutEliminar.cshtml";
}

<section id="listado" class="ta-c">

    <h1>¿Esta seguro que desea eliminar la Unidad?</h1>
    <div class="form-group">
        <div hidden>@TempData["idUnidad"]</div>
        <a class="underlineHover btn-primary btn-lg" type="button" href="/Unidad/Eliminar/@TempData["idUnidad"]"> Confirmar</a>
        <a class="underlineHover btn-primary btn-lg" type="button" href="/Unidad/Listar">Cancelar</a>
    </div>

</section>