@model ServicioNegocio.EF.Unidad
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Formulario de Alta</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/CSS/Style.css">
</head>
<body>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Eliminar Unidad</h1>
            <form action="Eliminar" method="post">
                <input type="hidden" name="IdConsorcio" value="@Model.IdUnidad" />
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <p>
                        Esta seguro que desea eliminar el producto @Model.Nombre?
                    </p>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">Aceptar</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-lg">
                        <a class="underlineHover" type="" href="/Consorcio/Listar">Cancelar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
