@model IEnumerable<ServicioNegocio.EF.Unidad>
@{
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<section class="d-flex align-items-center" id="registration-form">
    <div class="container">
        <div class="row ">
            <div class="col text-center box-form">
                <h2>Nuevo Unidad</h2>
                <br>
                <div class="image"></div>
                <div class="frm">
                    <form action="Guardar" method="post">
                        <div class="form-group text-left">
                            <label for="NombreUnidad">Nombre Unidad:</label>
                            <input type="text" class="form-control" id="NombreUnidad" name="Nombre" placeholder="Ingrese Nombre de la Unidad" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="NombrePropietario">Nombre Propietario:</label>
                            <input type="text" class="form-control" id="NombrePropietario" name="NombrePropietario" placeholder="Ingrese Provincia" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="ApellidoPropietario">Apellido Propietario:</label>
                            <input type="text" class="form-control" id="ApellidoPropietario" name="ApellidoPropietario" placeholder="Re-Ingrese Ciudad" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="Email">Email Propietario:</label>
                            <input type="email" class="form-control" id="Email" name="EmailPropietario" placeholder="Re-Ingrese Calle" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="Superficie">Superficie:</label>
                            <input type="text" class="form-control" id="Superficie" name="Superficie" placeholder="Re-Ingrese Altura" required>
                        </div>
                        <div class="form-group text-left">
                            <label for="DiaVencimientoExpensas">Dia Venc. Expensas:</label>
                            <input type="text" class="form-control" id="DiaVencimientoExpensas" name="DiaVencimientoExpensas" placeholder="Re-Ingrese Dia" required>
                        </div>
                        <div class="row">
                            <div class="col-10 text-right">
                                <button type="submit" class="btn btn-primary btnForm" name="accion" value="Guardar">Guardar</button>
                                <button type="submit" class="btn btn-primary btnForm" name="accion" value="GuardarCrearOtro">Guardar y crear otro</button>
                                <button type="button" class="btn btn-primary btnForm">
                                    <a class="" href="../Unidad/Listar">Cancelar</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
