<footer class="py-5 nav-color">
    <div class="container">
        <p class="m-0 text-center text-white">
            PW3 - 2020 - 2c - Grupo X - Guglielmeti - Mendez - Ledesma - Salas -
            Vandoni
        </p>
    </div>
</footer>
