@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<!DOCTYPE html>
<div class="col-lg-6">
    <div class="card2 card  px-4 py-5">
        <h2><b>Registrarse</b></h2>
        <hr>
        <form action="Alta" method="post">
            <div class="row px-3">
                <label class="col-form-label">
                    <h6 class="">Dirección Email</h6>
                </label>
                <input class="form-control" type="text" id="Email" name="email" placeholder="Ingrese Email" required>
            </div>
            <div class="row px-3">
                <label class="col-form-label">
                    <h6 class="">Contraseña</h6>
                </label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Ingrese Contraseña" required>
            </div>
            <div class="row px-3">
                <label class="col-form-label">
                    <h6 class="">Reingresar Contraseña</h6>
                </label>
                <input type="password" id="Password2" class="form-control" name="Password2" placeholder="Reingrese Contraseña" required>
            </div>
            <br>
            <div class="row mb-3 px-3">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
            <h1>@Session["MsjError"]</h1>
        </form>
    </div>
</div>


