@{
    Layout = "~/Views/Shared/_LayoutGeneralError.cshtml";
}

<section id="listado" class="ta-c">
    <body>
        <div  class="form-group">
            <h2 class="page-header">@ViewBag.Title</h2>
            <p>@ViewBag.Description</p>
        </div>
    </body>
</section>