@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";

}
<div class="col-lg-6">
    <div class="card2 card  px-4 py-5">
        <h2><b>Ingresar</b></h2>
        <hr>
        <form action="/Usuario/Login" method="post">
            <div class="row px-3">
                <label class="col-form-label">
                    <h6 class="">Dirección Email</h6>
                </label>
                <input class="form-control" type="text" id="Email" name="email" placeholder="Ingrese Email" required>
            </div>
            <div class="row px-3">
                <label class="col-form-label">
                    <h6 class="">Contraseña</h6>
                </label>
                <input type="password" class="form-control" id="Password" name="password" placeholder="Ingrese Contraseña" required>
            </div>
            <br>
            <div class="row mb-3 px-3">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
            </div>
            <div class="row mb-4 px-3" id="formFooter">
                <small class="font-weight-bold">
                    No estás registrado? <a href="../Usuario/Registrar" class="text-orange">Registrarse</a>
                </small>
                <h1>@Session["MsjError"]</h1>
            </div>
        </form>

    </div>
</div>

