@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<div class="col-lg-6">
    <div class="card2 card  px-4 py-5">
        <h2><b>Sistema para la Administración de Consorcios</b></h2>
        <hr>
        <div class="row mb-3 px-3">
            <div class="col-2 offset-5">
                <a href="../Home/Ingresar" type="submit" class="btn btn-primary">Ingresar</a>
            </div>
        </div>
        <div class="row mb-3 px-3">
            <div class="col-2 offset-5">
                <a href="../Usuario/Registrar" type="submit" class="btn btn-primary">Registrar</a>
            </div>
        </div>
    </div>
</div>