@model ServicioNegocio.EF.Provincia

@{ Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

    List<ServicioNegocio.EF.Provincia> provincias = ViewBag.provincias as List<ServicioNegocio.EF.Provincia>;

    List<SelectListItem> provinciaItems = provincias.Select(o => new SelectListItem()
    {
        Text = o.Nombre,
        Value = o.IdProvincia.ToString()
    }).ToList();

    provinciaItems.Insert(0, new SelectListItem() { Value = "", Text = "Seleccione Provincia" }); }


        <section>
            <div class="container" id="registration-form">
                <div class="image"></div>
                <div class="frm">
                    <h1>Nuevo Consorcio</h1>
                    <form action="Guardar" method="post">
                        <div class="form-group">
                            <label for="Nombre">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Ingrese Nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Provincia:</label>
                            @Html.DropDownListFor(Model => Model.IdProvincia, provinciaItems)
                            <input type="hidden" name="IdProvincia" value="@Html.DisplayFor(model => model.IdProvincia)">
                        </div>
                        <div class="form-group">
                            <label for="username">Ciudad:</label>
                            <input type="text" class="form-control" id="Ciudad" name="Ciudad" placeholder="Re-Ingrese Ciudad" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Calle:</label>
                            <input type="text" class="form-control" id="Calle" name="Calle" placeholder="Re-Ingrese Calle" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Altura:</label>
                            <input type="text" class="form-control" id="Altura" name="Altura" placeholder="Re-Ingrese Altura" required>
                        </div>
                        <div class="form-group">
                            <label for="username">Dia Venc. Expensas:</label>
                            <input type="text" class="form-control" id="DiaVencimientoExpensas" name="DiaVencimientoExpensas" placeholder="Re-Ingrese Dia" required>
                        </div>
                        <div class="row">
                            <div class="col-3 offset-9">
                                <button type="submit" class="btn btn-primary" name="accion" value="Guardar">Guardar</button>
                                <button type="submit" class="btn btn-primary" name="accion" value="GuardarCrear">Guardar y crear otro</button>
                                <button type="submit" class="btn btn-primary" name="accion" value="GuardarCrearUnidad">Guardar y crear Unidad</button>
                                <button type="button" class="btn btn-primary">
                                    <a class="" type="" href="../Consorcio/Listar">Cancelar</a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
