@model ServicioNegocio.EF.Gasto
@{
        Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<body>
    <h1>¿Esta seguro que desea eliminar el Gasto?</h1>
    <div class="form-group">
        <div>@TempData["idGasto"]</div>
        <button type="submit" class="btn btn-success btn-lg">
            <a class="underlineHover" type="" href="/Gasto/Eliminar/@TempData["idGasto"]"> Confirmar</a>
        </button>

        <button type="button" class="btn btn-success btn-lg">
            <a class="underlineHover" type="" href="/Gasto/Listar">Cancelar</a>
        </button>
    </div>
</body>
